.VContainer {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
}

.input {
    width: 377px;
}

.btn {
    width: 121px;
}

.HContainerBig {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}

.HContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-end;
    min-height: 100px;
}