.VContainer {
     display: flex;
     flex-direction: column;
     gap: 12px;
     margin: 0 auto;
     align-items: center;
 }
.input {
    width: 204px;
}

.btn {
    width: 175px;
}

.HContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 952px;
    align-items: center;
}

.marginTop {
    margin-top: 72px;
}

.wide {
    width: 362px;
}