.VContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    align-items: center;
}

.btn {
    width: 205px;
}

.btnSubmit {
    width: 168px;
}

.HContainerBig {
    display: flex;
    flex-direction: row;
    gap: 48px;
    max-width: 952px;
    align-items: center;
}

.HContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 952px;
    align-items: center;
}

.Result {
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 952px;
    align-items: end;
}